In [27]:
import pandas as pd
to=pd.read_csv("/scratch/connectome/3DCNN/data/1.ABCD/4.demo_qc/ABCD_phenotype_total.csv")
ad=pd.read_csv("/scratch/connectome/3DCNN/data/1.ABCD/4.demo_qc/ABCD_ADHD.csv")
con=pd.read_csv("/scratch/connectome/3DCNN/data/1.ABCD/4.demo_qc/ABCD_suicide_control.csv")

In [28]:
pd.read_csv("/scratch/connectome/3DCNN/data/1.ABCD/4.demo_qc/ABCD_ADHD.csv").subjectkey

0       NDARINV00BD7VDC
1       NDARINV00CY2MDM
2       NDARINV00LJVZK2
3       NDARINV00U4FTRU
4       NDARINV0182J779
             ...
2501    NDARINVZCGL10MP
2502    NDARINVZE3C6X7E
2503    NDARINVZEB043HN
2504    NDARINVZEKA1L7D
2505    NDARINVZER4ED76
Name: subjectkey, Length: 2506, dtype: object

In [29]:
print(ad.shape,con.shape)

(2506, 118) (3108, 45)

In [30]:
import glob
images = glob.glob('/scratch/connectome/3DCNN/data/1.ABCD/3.2.FA_warpped_nii/*')
images_subjectkeys=pd.Series(map(lambda x: x.split("/")[-1].split(".")[0],images),name='subjectkey')
images_subjectkeys[:3]

0    NDARINV89B7M962
1    NDARINV6ZU9NKBV
2    NDARINVLPMG7ZFU
Name: subjectkey, dtype: object

In [31]:
for c in con.columns:
    if 'Attention' in c:print(c)

Unspecified.Attention.Deficit.Hyperactivity.Disorder.x
Attention.Deficit.Hyperactivity.Disorder.x

In [32]:
sjk=pd.concat([ad.subjectkey,con.subjectkey]).reset_index(drop=True)

In [38]:
sjk

0       NDARINV00BD7VDC
1       NDARINV00CY2MDM
2       NDARINV00LJVZK2
3       NDARINV00U4FTRU
4       NDARINV0182J779
             ...
5609    NDARINVZXPAWB32
5610    NDARINVZZ35KHXP
5611    NDARINVZZ6ZJ2KY
5612    NDARINVZZNX6W2P
5613    NDARINVZZZP87KR
Name: subjectkey, Length: 5614, dtype: object

In [33]:
newdf=to[to.subjectkey.isin(sjk)==True]

In [34]:
newdf.subjectkey.isin(images_subjectkeys).value_counts()

True     3993
False    1621
Name: subjectkey, dtype: int64

In [35]:
images2 = glob.glob('/scratch/connectome/3DCNN/data/1.ABCD/2.sMRI_freesurfer/*')
images_subjectkeys2=pd.Series(map(lambda x: x.split("/")[-1].split(".")[0],images2),name='subjectkey')
images_subjectkeys2[:3]

0    NDARINVBZJGG4AN
1    NDARINVXPZGM0LG
2    NDARINVU9C36KFY
Name: subjectkey, dtype: object

In [36]:
smris=newdf[newdf.subjectkey.isin(images_subjectkeys2)==True]
swithd=smris[smris.subjectkey.isin(images_subjectkeys)==True]
swithd['Attention.Deficit.Hyperactivity.Disorder.x'].value_counts()

0.0    2255
1.0    1736
Name: Attention.Deficit.Hyperactivity.Disorder.x, dtype: int64

In [41]:
pd.merge(pd.merge(ad.subjectkey,to.subjectkey),newdf.subjectkey)

           subjectkey
0     NDARINV00BD7VDC
1     NDARINV00CY2MDM
2     NDARINV00LJVZK2
3     NDARINV00U4FTRU
4     NDARINV0182J779
...               ...
2501  NDARINVZCGL10MP
2502  NDARINVZE3C6X7E
2503  NDARINVZEB043HN
2504  NDARINVZEKA1L7D
2505  NDARINVZER4ED76

[2506 rows x 1 columns]